.register {
    width: 540px;
    background-color: rgba(48, 33, 33, 60%);
    height: 100%;
    padding-left: 2.5rem;
    padding-right: 6rem;
    padding-top: 3rem;
    .tabs-content {
        position: relative;
        width: 430px;
        // background-color: aqua;
        height: 400px;
        overflow: hidden;
        .signup-form,
        .login-form {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateX(100%) scale(0.5);
            transition: all 0.4s linear;
            opacity: 0;
        }
        .active-tab {
            transform: translateX(0%) scale(1);
            opacity: 1;
        }
    }

    img {
        &:nth-child(1) {
            margin-bottom: 5rem;
        }
    }
    .btns {
        margin-top: 4rem;
        a {
            margin-left: 1rem;
        }
    }
}

@media (max-width: 600px) {
    .register {
        width: 100%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 3rem;
        .btns {
            a {
                margin-left: 1rem;
            }
        }
    }
}
@media (max-width: 470px) {
    .register {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3rem;
        .btns {
            a {
                margin-left: 1rem;
            }
        }
    }
}
