.register {
    max-width: 540px;
    background-color: rgba(48, 33, 33, 60%);
    height: 100%;
    padding-left: 2.5rem;
    padding-right: 6rem;
    padding-top: 3rem;
    img {
        &:nth-child(1) {
            margin-bottom: 5rem;
        }
    }
    .btns {
        margin-top: 4rem;
        a {
            margin-left: 3rem;
        }
    }
}

@media (max-width: 600px) {
    .register {
        width: 100%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 3rem;
        .btns {
            a {
                margin-left: 1rem;
            }
        }
    }
}
@media (max-width: 470px) {
    .register {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3rem;
        .btns {
            a {
                margin-left: 1rem;
            }
        }
    }
}
