.sidebar {
    grid-area: sidebar;
    width: 300px;
    height: 100%;
    padding-top: 1rem;
    background-color: rgba(48, 33, 33, 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        cursor: pointer;
        top: 85px;
        z-index: 100;
        transform: translateX(100%);
        background-color: rgba(48, 33, 33, 90%);
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        height: 50px;
        width: 60px;
        display: none;
    }
    img[alt="logo"] {
        width: 270px;
    }
    .btn {
        margin-top: 3rem;
    }
    .nav_list {
        width: 100%;
        margin-top: 8rem;
    }
}

@media (max-width: 940px) {
    .sidebar {
        background-color: rgba(48, 33, 33, 90%);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        transform: translateX(-100%);
        .hamburger {
            display: flex;
        }
    }
}
