@import "./variables";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Poppins-Light;
}

.btn,
.btn-second {
    text-transform: uppercase;
    font-family: Poppins-Regular;
    color: $main-color;
    border: 3px solid $main-color;
    padding: 6px 35px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 50px;
    transition: all 0.4s;
    &:hover {
        cursor: pointer;
        color: $second-color;
        border: 3px solid $second-color;
    }
}
.btn-second {
    color: $second-color;
    border: 3px solid $second-color;
    &:hover {
        color: $second-color-hover;
        border: 3px solid $second-color-hover;
    }
}

.link {
    font-size: 20px;
    border-bottom: 3px solid $main-color;
    text-transform: lowercase;
    transition: all 0.5s;
    padding: 0 10px;
    color: $main-color;
    &:hover {
        cursor: pointer;
        color: $second-color;
        border-bottom: 3px solid $second-color;
    }
}

.list-item {
    width: 100%;
    font-size: 20px;
    height: 50px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 20px;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
        background-color: rgba($color: $main-color, $alpha: 0.2);
    }
    span {
        margin-left: 10px;
    }
}

.input,
.textarea {
    max-width: 430px;
    border-bottom: 3px solid $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 20px;
    margin-bottom: 2rem;
    input,
    textarea {
        background-color: transparent;
        outline: none;
        border: none;
        height: 40px;
        width: 350px;
        font-size: 20px;
        transition: all 0.4s;
        color: rgba(255, 255, 255, 80%);
        margin-right: 10px;
        &:focus + img {
            transition: transform 0.4s;
            transform: translateX(20px);
            fill: white;
        }
        &::placeholder {
            color: rgba(255, 255, 255, 80%);
            font-family: Poppins-Light;
        }
        &:-ms-placeholder {
            color: rgba(255, 255, 255, 80%);
        }

        &::-ms-input-placeholder {
            color: rgba(255, 255, 255, 80%);
        }
    }
}
.textarea {
    // background-color: aqua;
    textarea {
        // background-color: yellow;
        min-width: 350px;
        max-width: 350px;
        min-height: 60px;
    }
}

.tabs {
    width: 225px;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        text-transform: uppercase;
        font-size: 25px;
        font-family: Poppins-Regular;
        color: $second-color;
        transition: all 0.4s linear;
        &:hover {
            cursor: pointer;
        }
    }
    .active-tab-btn {
        color: $main-color;
    }
}

@media (max-width: 530px) {
    .input,
    .textarea {
        justify-content: space-between;
        min-width: 100%;
        padding: 0 20px;
        input,
        textarea {
            width: 300px;
        }
    }
    .link {
        font-size: 16px;
    }
    .btn,
    .btn-second {
        // border: 3px solid $main-color;
        padding: 4px 25px;
        font-size: 15px;
    }
}
@media (max-width: 470px) {
    .input,
    .textarea {
        justify-content: space-between;
        min-width: 100%;
        padding: 0 20px;
        input,
        textarea {
            width: 250px;
        }
    }
    .link {
        font-size: 16px;
    }
    .btn,
    .btn-second {
        // border: 3px solid $main-color;
        padding: 4px 25px;
        font-size: 15px;
    }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000a2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $main-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: Poppins-Thin;
    src: url("../../typography/poppins/Poppins-Thin.ttf");
}

@font-face {
    font-family: Poppins-Medium;
    src: url("../../typography/poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins-Light;
    src: url("../../typography/poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("../../typography/poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url("../../typography/poppins/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../../typography/poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-Black;
    src: url("../../typography/poppins/Poppins-Black.ttf");
}
