.wrapper {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/wrapper.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.memories-wrapper {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
            45deg,
            rgba(101, 72, 72, 45%),
            rgba(101, 72, 72, 45%)
        ),
        url(../../images/wrapper.png);
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 75px auto;
    grid-template-areas: "sidebar header" "sidebar content";
}

@media (max-width: 940px) {
    .memories-wrapper {
        grid-template-columns: auto;
        grid-template-areas: "header" "content";
    }
}
